*{padding:0;
margin:0;
box-sizing: border-box;
font-family: 'Bai Jamjuree', sans-serif;}
a{
    text-decoration: none;
}

/* Mobile ***************************/
/* Header section */
header{
    background-image:url('bg-header-mobile.png');
    background-position: center;
    background-size: cover;
    display:flex;
    height:100%;
    flex-direction: column;
    align-items: center;
    padding:50px 0;
}

header div{
    font-size:2.5rem;
    text-align: center;
    color:rgba(0,0,0,0.7);
}

.copy{
    font-size:13rem;
    font-weight: 300;
    color:rgb(15, 214, 160);
}

header p{
    font-size: 1.3rem;
    text-align: center;
    color:#9f9f9f;
    margin-top:50px;
    
}

.btn{
    font-size: 1.3rem;
    margin-top:100px;
    width: 100%;
    max-width: 590px;
    height:100px;
}

.button1{
    background:rgba(15, 214, 160);
    border:3px solid rgb(16, 161, 120);
    color:white;
    display:inline-block;
    border-radius: 30px;
    text-align: center;
    width:90%;
    max-width:300px;
    height:50%;
    padding-top:10px;
}
.button2{
    background:rgb(34, 69, 181,0.8);
    border:3px solid rgb(34, 69, 181);
    margin-top:10px;
    color:white;
    display:inline-block;
    border-radius: 30px;
    width:90%;
    max-width:300px;
    height:50%;
    padding-top:10px;
}

.button1:hover{
    background-color:rgba(16, 161, 120,0.65);
    font-size:1.29rem;
}
.button2:hover{background-color:rgba(34, 69, 181,0.65);
    font-size:1.29rem;
}

/* End of Header section */

/* Main Section */
.main{
    text-align: center;
    display:flex;
    flex-direction: column;
}

.mhd{
    font-size:2rem;
    font-weight: 500;
    color:rgba(0,0,0,0.7)
}

.mhp{
    font-size: 1.3rem;
    color:#9f9f9f;
    margin-top:20px;
    margin-bottom:30px;
}

.main-content{
    margin-top:150px;
    margin-bottom:50px;
}

.main-content img{
    width:95%;
    margin:50px auto;
}

.logo-img{
    margin:50px 0;
}

.brand{
    margin-top:100px;
    align-self: center;
}

.brand img{display:block;
padding:40px 0;
margin:0 auto;
}

.last{
    margin-bottom: 200px;
}
/*End of Main Section */

/* Footer section */
footer{
    background:rgba(159,159,159,0.1);
    text-align: center;
}

.foot{
    font-size: 10rem;
}

.foot-text{
    font-size:1.5rem;
    margin-bottom:30px;
}
.foot-logo{height:100px;
    padding-left:50px;
}
.foot-logo div{
    display:inline;
}
/* End of Footer section */
/* End of Mobile ***************************/

/* Desktop ***************************/

@media only screen and (min-width: 1031px) {
    /* Header section */
    header{background-image: url('bg-header-desktop.png');
    padding-bottom:0;
    }
    header p{width:700px;}
    .btn{
        width:50%;
        align-self:center;
        margin:50px auto;
    }
    .button1{
        display:inline-block;
        width:250px;
    }
    .button2{
        display:inline-block;
        margin-left:10px;
        width:250px;
    }

    /* End of Header section */

    /* Main Section */
    .main-content{
        margin-top:100px;
        display:flex;
        flex-direction: column;
    }
    .mhp{
        width:50%;
        margin-left:auto;
        margin-right:auto;
    }

    .main-content-row{
        display:flex;
    }

    .main-content img{
        height:600px;
        max-width: 1000px;
    }
    .main-content .main-content-row img{
        margin-left:-50px;
        margin-right:0;
        height:600px;
        max-width:800px;
    }
    .main-content-col{
        display:flex;
        flex-direction: column;
        padding-top:100px;
        text-align: left;
    }
    .main-content-col .mhd{
        padding-left:100px;
    }

    .main-content-col .mhp{
        margin:0;
        padding-left:100px;
        width:70%;
        margin-top:20px;
        margin-bottom:50px;
    }

    .logo{display:flex;
        justify-content: space-between;
    }

    .logo-img{margin:0 auto;
        width:30%;
    }

    .brand{display:flex;
        width:80%;
        justify-content: space-between;
    }

    .foot-container{
        display:flex;
        justify-content: space-between;
    }

    .foot{margin-left:150px;}
    .foot-content{display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        height:150px;
        min-width:500px;
        margin:50px auto;
        text-align:left;
    }
    .foot-container a{color:#9f9f9f}

    .foot-logo{align-self: center;
        padding:0;
        width:30%;
    }
    /* End of Main Section */

}
