/*edit3 add small screen*/
html{font-size:16px;}
body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    height:100%;
    min-height: 100%;;
    background-size:cover;
    background-position:center;
    overflow: auto;
}
/* 2side till below 1000px width */
.flex-container{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
}
.left-main{
    width:70%;
    position:relative;
}
.left-main:before{
    content:'';
    width:100%;
    height: 100%;
    top:0;
    left:0;
    position:absolute;
    background: url(https://images.unsplash.com/photo-1565299543923-37dd37887442?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1914&q=80);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    filter: brightness(60%);
}
.text{    
    padding-top:13%;
    width:100%;
    font-size:5vw;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top:5%;
    color:rgba(255,255,255,0.6);
    position:absolute;
    transition:color 3s;
}
.text:hover{color:white;}
.midquote{display:none;}
.right-container{
    width:30%;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgba(81, 68, 61,0.75);
    border-left: 8px solid rgba(180, 152, 78,0.5);
    overflow: hidden;
    padding-top:7%;
}
.right-main{
    height:85%;
    color:rgba(255,255,255,0.5);
}

.brand{
    color:white;
    font-size:4vw;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    margin-left:5%;
}
.cookie{font-size: 2vw;
vertical-align:super ;}
.bio{
    font-size:1.8vw;
    text-align:center;
    margin-top:3%;
    font-family: 'Dancing Script', cursive;
    transition:color 3s;
}
.bio:hover{color:white;}
.order{
    font-size:1.5vw;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(159,159,159,0.7);
    display:block;
    width:35%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
    font-size:1.7vw;
    font-family: 'Source Code Pro', monospace;
    color:rgba(255,255,255,0.4);
    transition:color 3s;
    text-decoration: none;
}
.order:hover{color:white;}

.right-foot{
    height:15%;
    padding-top:2%;
    font-family: 'Source Code Pro', monospace;
    font-size:.9vw;
    padding-left:10px;
    transition: color 3s;
    background-color: rgba(0,0,0,0.1);
    color:rgba(255,255,255,0.5);
} 
.right-foot:hover{color:white;}
@media (max-width: 1500px) {
    .brand{font-size:4vw;}
    .bio{font-size:2vw;}
    .order{font-size:2vw;}
    .text{font-size:5vw;
    margin-top:15%;}
    .right-container{padding-top:15%;}
    .right-foot{font-size:15px;}
}

@media (max-height: 450px) {
    .brand,.bio,.order {
      font-size: 4vh;
    }
    .text{font-size: 10vh;}
  }

@media (max-width: 600px) {
    .flex-container{flex-direction: column;
}
    .left-main{
        width:100%;
        height:100%;
        position:relative;
    }
    .text{display:none;}
    .right-container{
        padding:0;
        width:100%;
        height:100%;
        position:absolute;
        background: rgba(81, 68, 61,0.67);
        border-left: none;
        border-top:8px solid rgba(180, 152, 78,0.5);
    }
    .right-main{
        display:flex;
        flex-direction: column;
        text-align: center;
        color:rgba(255,255,255,0.5);
        transition: color 1s;
    }
    .right-main:hover{color:white;}
    .brand{      
        color:white; 
        font-size: 12vw;
    }
    .bio{       
        font-size: 3.5vw;
        margin-top:1vh;
    }
    .midquote{
        font-size:8vh;
        font-family: 'Dancing Script', cursive;
        text-align: center;
        margin-top:1vh;
        display:block;
    }
    .order{
        font-size:3vw;
        width:20%;
        height:4%;
        margin-top:3vh;
        padding-top:3px;
    }
    .right-foot{
        font-size: 1.7vw;
    }   
}
