*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
    
a{text-decoration: none;}

body{
    min-width: 300px;
    overflow: auto;
}
/* font-family: 'Open Sans', sans-serif;
 */

/* Start of Mobile side width 375 px */
/* Header Start */
header{
    background-image: url('https://raw.githubusercontent.com/KanBoorodom/Web-Programming/68f648cd21d82f6d674b0dd95c25885eebab66cb/Udemy/HTML/Miniproject/huddle_images/bg-hero-mobile.svg');
    height: 750px;
    font-family: 'Poppins', sans-serif;
}

.header-top{
    padding:20px 20px 0 20px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-top img{
    height:20px;
}

.header-top a{
    color:black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
    width:100px;
    height:25px;
    font-size:.8rem;
    text-align:center;
    
}

.header-container{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top:100px;
}

.header-container img{
    width:300px;
    margin:50px auto 0 auto;
}

.header-text div{
    width:300px;
    margin:0 auto;
    font-size:1.5rem;
    font-weight: 600;;
} 

.header-text p{
    margin:0 20px 0 20px;
    max-width:700px;
    font-size:1.2rem;
    font-weight:400;
}

.header-text a{
    margin:20px auto 0 auto;
    padding-top:10px;
    border-radius: 50px;
    background-color: hsl(322, 96%, 69%);
    width:250px;
    height:50px;
    display:block;
    color:white;
}

.header-text a:hover{
    background-color:hsl(322, 96%, 75%);
}
/* Header End */

/* End of Mobile side*/
@media only screen and (min-width: 740px) and (max-width:1024px){
    .header-text p{
        margin:0 auto;
    }

}

/* Desktop side */
@media only screen and (min-width: 1024px){
    header{
        height:600px;
    }
    .header-top img{
        height:30px;
    }
    
    .header-top a{
        padding-top:10px;
        margin-right:100px;
        width:180px;
        height:40px;
        font-size:1rem;
        font-weight: bolder;
    }
    

    .header-container{
        flex-direction: row;
        margin:0; 
    }

    .header-text{
        flex-basis: 50%;
        text-align: left;
    }



    .header-text div{
        width:400px;
        font-size:2rem;
        margin:150px 0 0 50px;
    } 
    
    .header-text p{
        width:80%;
        min-width:400px;
        font-size:1.2rem;
        margin:20px 0 0 50px;
        font-weight:400;
        display:block;
    }
    
    .header-text a{
        margin:30px 0 0 50px;
        padding-top:10px;
        text-align: center;
        width:250px;
        height:50px;
        display:block;
        color:white;
    }

    

    .header-container img{
        flex-basis:40%;
        min-width: 480px;
        max-width:640px;
        min-height: 410px;
        margin-right:100px;
    }
    
}
    /* End of Desktop side */

