body{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.side{
    width:100%;
    height: 100%;
    position:relative;
}
/* small 513x665 */
.side:before{
    content:'';
    width:100%;
    height: 100%;
    position:absolute;
    background: url(https://images.unsplash.com/photo-1529557050046-60c5f1d35ea4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8Z3JpbGx8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    filter: brightness(50%);
}

.quote{
    color:white;
    position:relative;
}

.side-top{
    position:relative;
    display:flex;
    justify-content: center;
    background:rgba(231, 155, 155, 0.5);
    height:20%;
    color:white;
    font-size:280%;
}

.band{
    font-family: 'Source Code Pro', monospace;
    height:30%;
    margin-top:5%;
}
.side-mid{
    position:relative;
    display:flex;
    flex-direction: column;    
    justify-content: center;
    height:70%;
    color:rgba(255,255,255,0.6);
    font-family: 'Dancing Script', cursive;
    font-size: 500%;
    text-align: center;
}

.side-mid-top-text{
    width:30%;
    margin-left:auto;
    margin-right:auto;
    border-top:3px solid rgba(255,255,255,0.5);
}
.side-mid-bot-text{
    width:30%;
    margin-left:auto;
    margin-right:auto;
    border-bottom:3px solid rgba(255,255,255,0.5);
}

.join{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(159,159,159,0.7);
    max-width: 300px;
    min-width: 205px;
    width:20%;
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    font-size:30px;
    font-family: 'Source Code Pro', monospace;
    color:rgba(255,255,255,0.4);
    text-decoration: none;
    transition: color 2s;
}
.join:hover{
    color:white;
    background-color: rgba(159,159,159,1);
}
.side-foot{
    position:relative;
    display:flex;
    background:rgba(186, 218, 166, 0.5);
    height:10%;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-size:15px;
    color:rgba(255,255,255,0.5);
    transition: color 2s;
}
.side-foot:hover{
    color:white;
}
